#logo{
    width: 10%;
    height:10%;
}
  
.input-group{
    border: 1px gray solid;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
 a{
     background-color: white;
     color:gray;
 } 
 .icon{
     margin-right: 5px;
     width: 3%;
     height: 3%;
     margin-left: 2vw;
 }
 .mat-badge-content{
    background : rgb(13, 148, 202);
}
#head{
    background-color: #798d94;
    margin-left: 1%;
    margin-right: 1%;
}
#head_inside{
    margin-top: 10px;
}
.card1{
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    background-color: white;
    
}
.card2{
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: white;
}
.card3{
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: white;
}
.card4{
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    background-color: white;
}
#new{
    margin-right: 2%;
    margin-left: 2%;
    background-color: white;
}

.cardheader{
    font-family:"Lucida Console", Monaco, monospace;
    color:black;
}
#cardIcon{
    width: 10%;
    height: 10%;
    margin-right: 1%;
    margin-top: 2vh;
}
#cardIcon1{
    margin-left: -5%;
    margin-top: -6vh;
    color:black;
}
#cardIcon2{
    
    width: 3vw;
    height:3vh;
    margin-right: 1%;
}
.mat-card-image:first-child {
    margin-top: 0px;
}
.col-10{
    padding-right: 0px;
    margin-bottom: -20%;
}

#chart{
    margin-left: -1vw;
}

#chart1{
    margin-left: 1vw;
}
#line{
    margin-top: -1.5vh;
}
.vl {
    border-left: 1px solid gray;
    height: 42vh;
  }

#doughnut_chart{
    width: 30%;
    height:30%;
}  